.heading-section {
  background: linear-gradient(to right, rgb(173, 14, 14), rgba(240, 74, 74));
  padding: 100px;
}

.add-todo-box {
  margin-top: -53px;
}

input {
  box-shadow: none !important;
}

button {
  background: linear-gradient(to right, rgb(2, 228, 171), rgb(1, 217, 163));
}
