<section class="heading-section">
  <h1 class="text-center text-light">Gerenciador de Tarefas</h1>
</section>
<section class="justify-content-center d-flex">
  <div class="add-todo-box bg-body col-11 col-md-5 pb-4 pt-3 px-3 rounded-1 shadow-sm">
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
      <h2 class="fs-6 m-0">Nova tarefa</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="form-floating w-100">
          <input ngModel #todoTextField="ngModel" required minlength="2" name="text" type="text" class="border-0 border-bottom form-control rounded-0" id="floatingInput" placeholder="nome da tarefa">
          <label class="text-black-50" for="floatingInput">Nome da tarefa</label>
        </div>
        <button type="submit" class="align-self-auto align-self-md-end border-0 btn btn-primary fw-semibold h-50 ms-0 ms-md-3 mt-3 mt-md-0 rounded-1">Adicionar</button>
      </div>
      <div *ngIf="todoTextField.invalid && showValidationErrors">
        <p *ngIf="todoTextField.errors?.['required']" class="help is-danger text-danger m-0 mt-1">
          <small>
            Campo tarefa está vazio, preencha com um texto.
          </small>
        </p>
        <p *ngIf="todoTextField.errors?.['minlength']" class="help is-danger text-danger m-0 mt-1">
          <small>
            texto muito pequeno, que tal adicionar algo mais.
          </small>
        </p>
      </div>
    </form>
  </div>
</section>
<section class="justify-content-center d-flex mt-5 vh-100">
  <div class="todos-list col-11 col-md-5">
    <app-todo-item
      *ngFor="let todo of todos"
      [todo]="todo"
      (todoClicked)="toggleCompletedTodo(todo)"
      (editClicked)="editTodo(todo)"
      (deleteClicked)="deleteTodo(todo)"
    >
    </app-todo-item>
  </div>
</section>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-4 px-3 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a class="text-muted" href="#"><img width="24" height="24" src="https://assets.stickpng.com/images/5847ea22cef1014c0b5e4833.png" alt=""></a>
    <span class="mb-3 mb-md-0 text-muted ps-2">© 2023 | Kedison Roby - FunctionDev</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href=""></use></svg></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><img width="24" height="24" src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt=""></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><img width="24" height="24" src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt=""></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><img width="24" height="24" src="https://cdn-icons-png.flaticon.com/512/174/174883.png" alt=""></a></li>
  </ul>
</footer>
